<!DOCTYPE html>
<html>
    <head lang="pl">
        <meta charset="UTF-8">
        <title>Google</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="icon" href="logotop.png">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="styles2.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="vue.js" defer></script>
		<script src="cities.js" ></script>
		<script src="https://kit.fontawesome.com/ffc589d0fc.js" crossorigin="anonymous"></script>
    </head>

	<body>
	<div id="app" :class="[textSearch.length > 0 ? 'results' : 'home']"> 
      <nav>
      	<a href="#">Gmail</a>
      	<a href="#">Grafika</a>		
		<img  src="app.png" style="width: 40px;">
		<span>
		<a href="#" class="login">
			<button>Zaloguj się 
			</button>
		<a href="#">
		</span>
      </nav>
      <section class="section-1">
      	<img src="logo.png" class="logo">
      	<form><br><br>
      		<div class="search-box">
			<div class="podpowiedzi">
      			<img src="lupa.png" class="search-icon" @click="potwierdz">
      			<input ref="inputFocus" v-model="googleSearch" type="text" class="search-input" @keyup.enter="potwierdz">
				<img src="bartools.png" class="keyboard-icon">		
      			<img src="mic.png" class="voice-icon">
				<div class="list">
                  <ul v-for="miasto in filteredCities" @click="uzupelnij(miasto)">
						<img class="ikonkaSearch" src="lupa.png" title="Szukaj">
								{{googleSearch}}<b>{{ miasto.name.substring(googleSearch.length) }}</b>
						</ul>
				</div>

			  </div>
      			<input type="submit" class="search-btn" value="Szukaj w google">
      			<input type="submit" class="search-btn" value="Szczęśliwy traf">
      		</div>
      	</form>
      	<div class="lang">
      		<span>Korzystaj z Google w tych językach:</span>
      		<a href="#">English</a>
      	</div>
      </section>
      <footer>
      	<h4>Polska</h4>
      	<div class="links">
      		<div class="link-1">
      			<a href="#">O nas</a>
      			<a href="#">Reklamuj się</a>
      			<a href="#">Dla firm</a>
      			<a href="#">Jak działa wyszukiwarka</a>				
				<a href="#">
					<span style="margin-left: 70px;">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC" style="width:12px;"/>
					Neutralność węglowa od 2007 roku
					</span>
				</a>				
      		</div>
      		<div class="link-2">
      			<a href="#">Prywatność</a>
      			<a href="#">Warunki</a>
      			<a href="#">Ustawienia</a>
      		</div>
      	</div>
      </footer>
	  
	  
	  
	  <!-- WYNIKI -->	  
	  
	<div id="header">
        <div id="topbar">
            <img id="searchbarimage" src="logo.png" />
            <div id="searchbar" type="text">
                <input ref="inputFocus" id="searchbartext" type="text" v-model="googleSearch" />
			
				
				<button id="searchbarx">
					<span id="searchbarborder">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtAJA0oIsYgdH30wmsfIJw7wbuG-dFHwKZMg&usqp=CAU" style="height=10px;width=10px;">                   
					</span>
                 </button>
                
			
			
                <button id="searchbarkeyboard">
                    <img src="bartools.png" />
                </button>
				<button id="searchbarmic" style="background-color: white;">
                    <img src="mic.png" />
                </button>
                <button id="searchbarbutton">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                        </path>
                    </svg>
                </button>
            </div>
			
			

         <img class="menu" src="app.png"/>	
		<button class="login-button">Zaloguj się</button>
        </div>
        <div id="optionsbar">
            <ul class="optionsmenu1">
                <li class="optionsmenuactive"><i class="fa fa-search"></i> Wszystko</li>
                <li><i class="far fa-image" style="color: #5f6368;"></i> Grafika</li>
                <li><i class="far fa-play-circle" style="color: #5f6368;"></i> Wideo</li>
                <li><i class="fa fa-newspaper-o" style="color: #5f6368;"></i> Wiadomości</li>
                <li><i class="fa fa-map-marker-alt" style="color: #5f6368;"></i></i> Mapy</li>
                <li><i class="fas fa-ellipsis-v"style="color: #5f6368;"></i> Więcej</li>
            </ul>

            <ul class="optionsmenu2">
                <li>Ustawienia</li>
                <li>Narzędzia</li>
            </ul>
        </div>
    </div>
    <div id="searchresultsarea">
        <p id="searchresultsnumber">Około 4,500,000 wyników (0.44 s) </p>
        <div class="searchresult" style="margin-top:30px;">
		<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
            
		
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
        </div>

        <div class="searchresult">
		<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
		<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
		<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
			<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
			<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
			<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="searchresult">
			<a href="#">
			https://wynik.wyszukiwania.link.random.com<button>▼</button>
            <h2 >Wynik wyszukiwania</h2></a>
        <p>Opis wyniku idzie daleko az do drugiej linijki pokaz to jak idziesz do drugiej linii prosze bardzo</p>
		</div>

        <div class="relatedsearches">
            <h3>Podobne wyszukiwania</h3>
            <div class="relatedlists">
                <ul class="relatedleft">
                    <li>jakiś <b>wynik</b></li>
                    <li><b>wynik</b> matura</li>
                    <li><b>wynik</b> egzamin</li>
                    <li><b>wynik</b> koronawirus</li>
                </ul>
                <ul class="relatedright">
                    <li><b>wynik</b> w rankingach</li>
                    <li>zły czy dobry <b>wynik</b></li>
                    <li><b>wynik</b> pozytywny</li>
                    <li><b>wynik</b> negatywny covid</li>
                </ul>
            </div>
        </div>
		
		
		<table>
            <tr>
              <td><span class="blue">G</span></td>
              <td><span class="red">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="blue">g</span></td>
              <td><span class="green">l</span></td>
              <td><span class="red">e</span></td>
              <td rowspan="2" style="width: 10px;"></td>
              <td><span class="blue"><i class="fas fa-angle-right" style="color:#4285f4; font-size:20px"></i></span></td>
            </tr>
            <tr>
              <td class="pageNumber"></td>
              <td class="pageNumber"></td>
              <td class="pageNumber">1</td>
              <td class="pageNumber">2</td>
              <td class="pageNumber">3</td>
              <td class="pageNumber">4</td>
              <td class="pageNumber">5</td>
              <td class="pageNumber">6</td>
              <td class="pageNumber">7</td>
              <td class="pageNumber">8</td>
              <td class="pageNumber">9</td>
              <td class="pageNumber">10</td>
              <td colspan="3"></td>
              <td class="pageNumber">Następna</td>
            </tr>
          </table>
    </div>

    <div id="footer">
        <div id="footerlocation">
            <p><span style="margin-right: 25px">Polska</span> <span class="footerborder"><span class="dot"></span></span> <span style="color: #3c4043;font-weight: bold;">Kraków</span>    &nbsp;
			- Z twojego adresu internetowego - Użyj dokładnej lokalizacji - Dowiedz się więcej</p>
        </div>
		
        <ul id="footermenu">
            <li>Pomoc</li>
            <li>Prześlij opinię</li>
            <li>Prywatność</li>
            <li>Warunki</li>
        </ul>
    </div>  
	</div>
	</body>
</html>